
.mainMenu__buttons__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    gap: 1em;
}

.mainMenu__adminlink {
    font-size: 1.5em;
    color: #fff;
    text-decoration: none;
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
    text-shadow: 2px 2px 15px #000;
}
