.adminMenu {
    width: 100%;
    min-height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    overflow-y: auto;
}

.adminMenu h2 {
    margin-bottom: 2rem;
    font-size: 2em;
}
