.pokemon__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.pokemon__image {
    width: 18.75rem;
    height: 18.75rem;
    margin: 1em;
}

.pokemon__name {
    font-size: 2em;
    font-weight: bold;
    margin: 0.5em;
}

.pokemonType {
    background-color: #4a5568;
    color: white;
    padding: 0.125rem 0.5rem;
    border-radius: 0.25rem;
    font-size: 0.8em;
    margin-left: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.typeIcon {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 0.5rem;
}

.pokemonInfo {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}
