################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Pokebooook.Server
/Pokebooook.Server/app.db-shm
/Pokebooook.Server/app.db-wal
/Pokebooook.Server/bin/Debug/net8.0/Pokebooook.Server.dll
/Pokebooook.Server/bin/Debug/net8.0/Pokebooook.Server.exe
