################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
# Místo ignorování celé složky serveru, ignorujeme jen konkrétní soubory
/Pokebooook.Server/app.db-shm
/Pokebooook.Server/app.db-wal
/Pokebooook.Server/bin/
/Pokebooook.Server/obj/
*.env
/Pokebooook.Server/app.db
