################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Pokebooook.Server
/Pokebooook.Server/app.db-shm
/Pokebooook.Server/app.db-wal
