.location__container {
   font-size: 1.5em;
}

.location__info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;
}

.info__text {
    text-align: left;
} 

.location__img {
    width: 20em;
    height: 20em;
    border-radius: 10px;
}

.connections__list {
    list-style: none;
    display: flex;
    flex-direction: column;  
    justify-content: center;   
    align-items: center; 
    gap: 0.5em;
    padding: 0;
    margin: 0;
}

.connections__btn {
    display: inline-block;
    width: 16em;
    background-color: #302f2f;
    color: #fff;
    border: 1px solid #ccc;
    padding: 1em 2em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

}

.connections__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}