.adminTable {
    color: #fff;
    text-shadow: 2px 2px 10px #000;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.5);
    border: 5px solid #fff;
    margin: 1em;
    min-height: 50vh;
}
.adminTable__heading {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 1em;
}
